# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [4]:
import datetime
current_time = datetime.datetime.now()
print(current_time)

2023-08-12 14:00:16.117802

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [32]:
import math

def rad(x):
    A = math.pi*(x**2)
    print('The Area is',A,'m^2')
rad(int(input('Enter the radius of circle ')))

Enter the radius of circle 3
The Area is 28.274333882308138 m^2

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [38]:
input_list = [2,4,5,5,7,9]

def main():
    unique_nums = set(input_list)
    if unique_nums == input_list:
        return True
    else:
        return False
main()

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [70]:
path = 'data\lil-wayne.txt'
path2 = 'data\write.txt'
file_handle = open(file=path)
text = file_handle.read()

text_upper = text.upper()


all_freq = {}

for i in text_upper:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1

print(all_freq)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [78]:
sorted_charcters_by_count = sorted(all_freq.items(), key = lambda x:x[1])
print(sorted_charcters_by_count)

[(';', 1), ('!', 1), ('Â', 1), ('€', 1), ('”', 1), ('3', 2), ('6', 3), ('4', 4), ('X', 5), ('5', 5), ('8', 6), ('\n', 6), ('-', 6), ('7', 7), ('J', 8), ('(', 12), (')', 12), ('K', 13), ('[', 14), (']', 14), ('9', 16), ('V', 20), ('2', 24), ('.', 26), ('1', 28), ('0', 36), (',', 37), ('P', 39), ('Y', 44), ('F', 44), ('G', 53), ('B', 59), ('C', 60), ('W', 63), ('U', 66), ('D', 74), ('M', 77), ('H', 122), ('L', 126), ('O', 145), ('R', 152), ('S', 152), ('N', 165), ('T', 180), ('I', 185), ('A', 211), ('E', 274), (' ', 522)]

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [93]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
y = list1.pop(3)
x = list1[-1]*y
list1.append(x)

print(list1)

63
[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [97]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []
for i in original_list:
    if i%3 == 0:
        new_list.append(i)
    else:
        next
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [102]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = original_list[::-1]
print(new_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [104]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []

for i in original_list:
    x = i**2
    new_list.append(x)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [110]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i, j in zip(list1, reversed(list2)):
    print(i, j)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [113]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
new_list = []

for i in list_of_strings:
    if i != '':
        new_list.append(i)
    else:
        next
print(new_list)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [122]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

sample_values = sample_dict.values()

if 999 in sample_values:
    print(True)
else:
    print(False)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [8]:
import pandas as pd

/Users/zacharydesario/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

## What was the oldest and youngest ages on the titanic?

## How many people embarked from station 'S'?